<div
    data-ui-role="accordion"
    data-ui-fragment="blocks.ext.accordion"
    data-ui-variant="{{ semantic_variant }}"
    data-ui-accordion-type="{{ accordion_type }}"
    data-controller="symfinity--ux-blocks-core--accordion"
    data-symfinity--ux-blocks-core--accordion-type-value="{{ accordion_type }}"
    data-symfinity--ux-blocks-core--accordion-group-name-value="{{ accordion_group_name }}"
    {{ attributes }}
>
    {% block content %}{% endblock %}
</div>
