<div
    id="{{ popover_id }}"
    popover
    data-ui-role="popover"
    data-ui-fragment="blocks.ext.popover"
    class="ui-popover"
    {{ surface_attr|raw }}
    {% if anchorTarget %}anchor="{{ anchorTarget }}"{% endif %}
    {% if label %}aria-label="{{ label }}"{% endif %}
    {{ attributes }}
>
    {% block content %}{% endblock %}
</div>
